.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: #0A0A0A;
    color: #FFF;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    background: none;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

::-moz-selection { /* Code for Firefox */
    background: #D01543;
}

::selection {
    background: #D01543;
}


.about {
    background: #131313;
    padding: 2rem 0;
    &__wrapper {
        
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(1.785rem, 4vw, 2.125rem);
        line-height: 1.5;
        color: #FFFFFF;
        margin-bottom: 1.5rem;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     bottom: 4px;
        //     z-index: -1;
        //     width: 62px;
        //     height: 20px;
        //     background: #D01543;
        // }
    }

    &__content {
        
        p {
            padding-bottom: 1rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(1rem, 3vw, 1.125rem);
            line-height: 22px;
            color: #FFFFFF;
        }
    }
}

.portifolio {
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        margin-top: 2.5rem;
        font-size: clamp(1.785rem, 4vw, 2.125rem);
        line-height: 1.5;
        color: #FFFFFF;
        margin-bottom: 1.5rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;

        .content-1 {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            flex: 1 1 400px;
        }
        .content-2 {
            flex: 1 1 368px;
        }

        &--title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 1.5;
            color: #FFFFFF;
        }

        &--description {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5;
            color: #FFFFFF;
        }

        &--description {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5;
            color: #FFFFFF;
        }

        &--link {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--source,
        &--preview {
            display: flex;
            justify-content: space-between;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.25;
            color: #FFFFFF;
            transition: .2s all ease-in;

            &:hover {
                color: #D01543;
            }
        }

        &--imagem {
            img {
                border-radius: .25rem;
            }
        }
    }
}