.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 1rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: #0c0c0c;
    color: #FFF;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    background: none;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

::-moz-selection { /* Code for Firefox */
    background: #D01543;
}

::selection {
    background: #D01543;
}


.about {
    background: #131313;
    padding: 2rem 0;
    &__wrapper {
        
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(1.785rem, 4vw, 2.125rem);
        line-height: 1.5;
        color: #FFFFFF;
        margin-bottom: 1.5rem;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     bottom: 4px;
        //     z-index: -1;
        //     width: 62px;
        //     height: 20px;
        //     background: #D01543;
        // }
    }

    &__content {
        
        p {
            padding-bottom: 1rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(1rem, 3vw, 1.125rem);
            line-height: 22px;
            color: #FFFFFF;
        }
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 668px;

    &__email {
        color: #D01543;
    }

    &__wrapper {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        max-width: 360px;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    }

}