.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: #0A0A0A;
    color: #FFF;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    background: none;
}

li {
    list-style: none;
}

::-moz-selection { /* Code for Firefox */
    background: #D01543;
}

::selection {
    background: #D01543;
}


.about {
    background: #131313;
    padding: 2rem 0;
    &__wrapper {
        
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(1.785rem, 4vw, 2.125rem);
        line-height: 1.5;
        color: #FFFFFF;
        margin-bottom: 1.5rem;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     bottom: 4px;
        //     z-index: -1;
        //     width: 62px;
        //     height: 20px;
        //     background: #D01543;
        // }
    }

    &__content {
        
        p {
            padding-bottom: 1rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(1rem, 3vw, 1.125rem);
            line-height: 22px;
            color: #FFFFFF;
        }
    }
}